.App {
    padding: 15px;
}

input {
    width: 240px;
    padding: 6px 10px;
    font-size: 14px;
}

.TodoListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TodoListItem__id {
    width: 20px;
}

.TodoListItem input {
    margin: 0 10px;
}
